# PostgreSQL Configuration
POSTGRES_DB=sst_pesv
POSTGRES_USER=sst_pesv_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

# pgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me
PGADMIN_PORT=8081